<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para WebView y Video en línea -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permiso para enviar notificaciones desde el Servicio (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.EcoBrainApp">

        <!-- Pantalla de Login (Arranque) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla Principal / Inicio -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Pantallas Secundarias -->
        <activity
            android:name=".CerebroActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".IARiesgosActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".VideoTutorialActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".WebPortalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".NoticiasActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- Servicio en Segundo Plano para Notificaciones y Tips -->
        <service
            android:name=".EcoTipService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>